﻿.user-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 65%;
    background: transparent;
    color: rgba(0,0,40,1);
    border-radius: 50px;
    padding: 50px;
    border: 5px ridge rgba(0,0,40,0.85);
    border-radius: 40px;
}

@media (min-width: 500px) and (max-width:800px) {
    .user-profile {
        width: 70% !important;
    }
}

@media (min-width: 800px) and (max-width:1200px) {
    .user-profile {
        width: 50% !important;
    }
}

@media (min-width: 1200px) and (max-width:1500px) {
    .user-profile {
        width: 40% !important;
    }
}

@font-face {
    font-family: 'Youth_Power';
    src: url('../../../fonts/Youth_Power.woff') format('woff');
}
aside h2 {
    /*text-shadow:1px 1px rgba(0,0,40,1);*/
    text-align: center;
    position: relative;
    top: 10px;
    font-size:36px;
    font-weight: 300;
    letter-spacing:3px;
    font-family: 'Youth_Power';
}

label {
    color: rgba(0,0,40,1);
    font-weight: bold;
}

input#profileUserName, input#profileUserPassword {
    color: rgba(0,0,40,1);
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,40,1) !important;
}

.form-control:focus {
    color: rgba(0,0,40,1);
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,40,1);
}

input#profileUserID {
    pointer-events: none;
    border: none !important;
}

section {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.update-btn {
    color: rgba(0,0,40,1);
    border: 2px double;
    padding: 14px;
    margin-top: 10px;
    background: transparent;
    font-weight: 600;
    border-radius: 50px;
    text-transform: uppercase;
    outline: none;
}
.update-btn:hover{
    background:rgba(0,0,40,1);
    color:white;
}
.update-btn:focus {
    transform: scale(0.95);
    outline: none;
}
