﻿﻿@model MVCTutorial.ViewModel.ProductViewModel
@using MVCTutorial.Models;

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showStock</title>
    @Html.Partial("MDB")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link href="~/Content/css/Stock.css" rel="stylesheet" />
    <script src="~/Scripts/SelectOptions.js"></script>
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        @Html.Partial("ManagerNavbar")
    </header>

    <button data-tip='Add product' id='addProduct' data-toggle='modal' data-target='#AddProductModal' class="plus-icon btn-floating btn-large waves-effect waves-light right">
        <i class="material-icons">add</i>
    </button>
    <i class="fas fa-chevron-up fa-lg scroll-up" onclick="ScrollUp()"></i>

    <table style='display: none' border="1" id="producttable">
        <tr>
            <th style="color:goldenrod">product id</th>
            <th style="color:goldenrod">product type</th>
            <th style="color:goldenrod">company</th>
            <th style="color:goldenrod">size</th>
            <th style="color:goldenrod">price</th>
            <th style="color:goldenrod">color</th>
            <th style="color:goldenrod">current amount</th>
        </tr>

    </table>

    <div class="flex-container" id="productsView">
    </div>


    <!-- Add product modal -->
    <div id="AddProductModal" class="modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add product</h4>
                </div>
                <div class="modal-body">
                    <div id="invalid-select" class="alert alert-danger hidden" role="alert">
                        Make sure all the select are filled!
                    </div>
                    <form id="frmAddProd">
                        <select id="productType" name="productType" class="form-control col-sm-12 form1">
                            <option selected value="Type">Type</option>
                        </select>
                        <select id="productCompany" name="productCompany" class="form-control col-sm-12 form1">
                            <option selected value="Company">Company</option>
                        </select>
                        <select id="productSize" name="productSize" class="form-control col-sm-12 form1">
                            <option selected value="Size">Size</option>
                        </select>
                        <select id="productColor" name="productColor" class="form-control col-sm-12 form1">
                            <option selected value="Color">Color</option>
                        </select>
                        <span id="price-span">price:</span>
                        @Html.TextBoxFor(m => m.product.price, new { Value = "", @type = "number", @id = "price", @class = "form-input form-control col-sm-12",min="0" })
                        <div class="form1 validation-error">@Html.ValidationMessageFor(x => x.product.price)</div>

                        <span id="ammount-span">Initial Amount: </span>
                        @Html.TextBoxFor(m => m.product.initialAmount, new { Value = "", @type = "number", @class = "form-input form-control col-sm-12",min="0" })
                        <div class="form1 validation-error">@Html.ValidationMessageFor(x => x.product.initialAmount)</div>

                        @Html.CheckBox("isPublishOnFecebook", true)
                        <span class="form1">
                            Publish on facbook?
                        </span>
                        <div class="text-center">
                            <input class="btn btn-success" id="btnAdd" type="submit" value="add product" />
                        </div>

                    </form>
                    <div id="image-message" class="alert alert-success hidden" role="alert">
                        The product was added successfully now you can upload an image to it
                    </div>
                    <div id="uploadImage" class="hidden">
                        @using (Html.BeginForm("SaveImages", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div>
                                @Html.TextBox("UploadedImage", "", new { type = "file" })
                                <button class="btn btn-dark btn-sm" type="submit"><i class="fas fa-upload fa-lg"></i> UPLOAD</button>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit product modal -->
    <div id="myModal" class="modal " role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit product</h4>
                </div>
                <div class="modal-body">

                    <div id="EditDiv">
                        <form id="frmEditProd">
                            <table>
                                <tr class="spaceUnder">
                                    <td>product ID:</td>
                                    <td>@Html.TextBoxFor(m => m.product.productID, new { @readonly = true, @class = "form-control col-sm-12" }) </td>
                                    <td><div class="validation-error">@Html.ValidationMessageFor(x => x.product.productID)</div></td>
                                </tr>
                                <tr class="spaceUnder">
                                    <td>Product Type:</td>
                                    <td>@Html.TextBoxFor(m => m.product.productType, new { @readonly = true, @class = "form-control col-sm-12" }) </td>
                                    <td><div class="validation-error">@Html.ValidationMessageFor(x => x.product.productType) </div></td>
                                </tr>
                                <tr class="spaceUnder">
                                    <td>Product Company:</td>
                                    <td>@Html.TextBoxFor(m => m.product.productCompany, new { @readonly = true, @class = "form-control col-sm-12" }) </td>
                                    <td><div class="validation-error">@Html.ValidationMessageFor(x => x.product.productCompany) </div></td>
                                </tr>
                                <tr class="spaceUnder">
                                    <td>size:</td>
                                    <td>@Html.TextBoxFor(m => m.product.size, new { @type = "number", @class = "form-control col-sm-12",min="0" }) </td>
                                    <td><div class="validation-error">@Html.ValidationMessageFor(x => x.product.size)</div></td>
                                </tr>
                                <tr class="spaceUnder">
                                    <td>price:</td>
                                    <td>@Html.TextBoxFor(m => m.product.price, new { @type = "number", @class = "form-control col-sm-12",min="0" }) </td>
                                    <td><div class="validation-error">@Html.ValidationMessageFor(x => x.product.price)</div></td>
                                </tr>
                                <tr class="spaceUnder">
                                    <td>Product Color:</td>
                                    <td>@Html.TextBoxFor(m => m.product.color, new { @readonly = true, @class = "form-control col-sm-12" }) </td>
                                    <td><div class="validation-error">@Html.ValidationMessageFor(x => x.product.color) </div></td>
                                </tr>
                                <tr class="spaceUnder">
                                    <td>Initial Amount:</td>
                                    <td>@Html.TextBoxFor(m => m.product.initialAmount, new { id="productAmount" ,@type = "number", @class = "form-control col-sm-12",min="0" }) </td>
                                    <td><div class="validation-error">@Html.ValidationMessageFor(x => x.product.initialAmount)</div></td>
                                </tr>

                            </table>
                            <input id="btnAdd" class="btn btn-success" type="submit" value="edit product" />
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/Scripts/Product/CreateNewProductOptions.js"></script>
    <script src="~/Scripts/Product/ShowStock.js"></script>
</body>
</html>

