﻿.graph-1{
    position:absolute;
    top:50%;
    left:0%;
    transform:translateY(-50%);
}

.graph-2 {
    position: absolute;
    right:0%;
    top: 50%;
    transform: translateY(-50%);
}

.currDollar {
    margin-top: 6%;
}

