﻿﻿@model MVCTutorial.Models.User
@using System.Web.Mvc
@using MVCTutorial.ViewModel;


@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Html.Partial("MDB")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="~/Content/css/Auth.css" rel="stylesheet" />
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <link href="~/Content/css/Home.css" rel="stylesheet" />

</head>
<body>
    <header>
        @Html.Partial("Navbar")
    </header>
    <div class="view">
        <div class="mask rgba-gradient align-items-center">
            <div class="card card-body mx-auto">
                @using (Html.BeginForm("SignUp", "Auth", FormMethod.Post))
                {
                    <div class="text-center">

                        <h3 class="white-text">
                            <i class="fas fa-user-plus white-text"></i> Sign Up
                        </h3>
                        <hr class="hr-light">


                    </div>
                    <div class="md-form">
                        <i class="fas fa-user prefix white-text active"></i>
                        @Html.TextBoxFor(m => m.name, new { placeholder = "Name", autocomplete = "off", @class = "white-text form-control", autofocus = "autofocus", name = "supplierName", spellcheck = "false" })
                        <div class="validation-error">@Html.ValidationMessageFor(x => x.name)</div>
                    </div>
                    <div class="md-form">
                        <i class="far fa-user prefix white-text active"></i>
                        @Html.TextBoxFor(m => m.userID, new { placeholder = "ID", autocomplete = "off", @class = "white-text form-control", name = "supplierID", spellcheck = "false" })
                        <div class="validation-error">@Html.ValidationMessageFor(x => x.userID)</div>
                    </div>
                    <div class="md-form">
                        <i class="fas fa-lock prefix white-text active"></i>
                        @Html.PasswordFor(m => m.password, new { placeholder = "password", autocomplete = "new-password", id = "password", @class = "white-text form-control", name = "supplierPassword", spellcheck = "false" })
                        <div class="validation-error">@Html.ValidationMessageFor(x => x.password)</div>
                    </div>
                    @*<div class="md-form">
                            <i class="fas fa-lock prefix white-text active"></i>
                            @Html.PasswordFor(m => m.confirmPassword, new { placeholder = "Retype password",id="retypePassword", @class = "white-text form-control", name = "retypePassword", autocomplete = "off", spellcheck = "false", onkeyup="CheckIfPasswordsMatch();" });
                        <div class="validation-error">@Html.ValidationMessageFor(x => x.confirmPassword)</div>
                        </div>*@

                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-white align-self-center">Register</button>
                    </div>
                    <div class="login-error">
                        @TempData["Message"]
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
                //$("#signup-nav-item").addClass("active");
    </script>
</body>
</html>
