﻿.swal2-popup.swal2-toast .swal2-title {
    color: #ffff;
}

.invisible {
    display:none;
}
.visible{
    display:inline-block;
}

.icon-btn{
    cursor:pointer;
}

.container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}

::placeholder {
    color: rgba(0, 0, 40,1) !important;
    font-weight: bold;
    text-align: center;
}

.search-div {
    display: flex;
    width:100%;
    position: relative;
    align-items: center;
    box-sizing:border-box;
}
.icons {
    display: flex;
    align-content: center;
}
select#ProductID {
    flex: 1;
    text-align-last: center;
    margin-right: 20px;
    box-shadow: none;
    color: rgba(0, 0, 40,1);
    font-weight: bold;
}
select#ProductName {
    flex: 1;
    text-align-last: center;
    margin-right: 20px;
    box-shadow: none;
    color: rgba(0, 0, 40,1);
    font-weight: bold;
}
input#suplier-id-field {
    margin-right: 20px;
}
.supplier-div{
    flex:1;
    position:relative;
    display:flex;
    align-items:center;
}
.reset-icon {
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.icon{
    margin-right:15px;
    cursor:pointer;
}
.no-orders-div {
    display: block;
    border: 2px solid rgb(218,165,32);
    color: rgb(218,165,32);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    top: 15px;
    padding: 15px;
    background: rgba(0, 0, 40,1);
}

.hidden {
    display: none;
}

table {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

table td {
    font-size: 16px;
    padding-top: 1rem !important;
    margin: 0px;
}

table.table thead th {
    font-weight: 600;
    font-size: 16px;
    padding: .75rem;
}

table.table td, table.table th {
    font-weight: 400;
}

.delete-btn {
    cursor: pointer;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

.scroll-up{
    position:fixed;
    top:10%;
    right:1%;
    cursor:pointer;
}