﻿@model MVCTutorial.Models.User
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManagerPage</title>
    @Html.Partial("MDB")
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />
    @*<script src="https://d3js.org/d3.v4.min.js"></script>*@

    @*<link href="@Url.Content("~/Content/grpah.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/css/Manager/ShowManagerPage.css" rel="stylesheet" />
</head>
<body>
    <header>
        @Html.Partial("ManagerNavbar")
    </header>

    <div class="container row">
        
        <div class="graph-1 col-6">
            <svg width="1000" height="400" id="svg1"></svg>
        </div>
        <div class="graph-2 col-6">
            <svg width="1000" height="400" id="svg2"></svg>
        </div>
        <div id="currentDollar" class="currDollar"></div>
    </div>


    <script src="~/Scripts/Manager/graphs.js"></script>
</body>
</html>

