﻿﻿@model MVCTutorial.Models.User
@using System.Web.Mvc
@using MVCTutorial.ViewModel;

@{
    Layout = null;
}


<html>
<head>
    @Html.Partial("MDB")
    <meta name="viewport" content="width=device-width" />
    <title>showSuppliers</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <link href="~/Content/css/Supplier/ShowSuppliersResevertions.css" rel="stylesheet" />
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />

</head>

<body>
    <header>
        @Html.Partial("SupplierNavbar")
    </header>
    <i class="fas fa-chevron-up fa-lg scroll-up" onclick="ScrollUp()"></i>
    <div class="container">
        <div class="search-input-div">
            <input class="form-control" id="search-input" type="text" placeholder="Search For A Reservation..">
            <i class="far fa-times-circle reset-icon"></i>
        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>product ID</th>
                    <th>product Type</th>
                    <th>product Company</th>
                    <th>product Size</th>
                    <th>product Price</th>
                    <th>product Color</th>
                    <th>product Amount</th>
                    <th>Order Date</th>
                </tr>
            </thead>
            <tbody id="productTable">
            </tbody>
        </table>
        <div class="no-reservations-div container hidden">
            No Reseverations Found
        </div>
    </div>


    <script src="~/Scripts/Supplier/ShowMyReservations.js"></script>
    <script src="~/Scripts/Supplier/SearchReservation.js"></script>
</body>
</html>
