﻿@model MVCTutorial.Models.User
@using System.Web.Mvc
@using MVCTutorial.ViewModel;

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search And Buy Products</title>
    @Html.Partial("MDB")

    <link href="~/Content/css/Supplier/ShowSupplierPage.css" rel="stylesheet" />
    <link href="~/Content/css/Common.css" rel="stylesheet" />
    <link href="~/Content/css/LoggedInNavbar.css" rel="stylesheet" />

</head>
<body>
    <header>
        @Html.Partial("SupplierNavbar")
    </header>

    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <div class="recommended-title">
        <h1>
            <span class="txt-rotate"
                  data-period="2000"
                  data-rotate='[ "Worthy", "Modern", "Exculisive" ] '></span>
            Offers for YOU!
        </h1>
        <h2>
            FIND THE BEST ONLY IN OUR STOCK
        </h2>
    </div>

    <div id="sliderFrame">
        <div id="slider">
        </div>
    </div>
    <video class="myVideo" controls autoplay>
        <source src="~/Content/commercial.mp4" type="video/mp4">
    </video>
    @*<div class="video">
            <video controls autoplay width="300" height="300">
                <source src="~/Content/commercial.mp4" type="video/mp4">
            </video>
        </div>*@

    <script src="~/Scripts/Supplier/ShowSupplierPage.js"></script>

</body>
</html>
