﻿<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("MDB")
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/Common")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="view">
        <div class="mask rgba-gradient align-items-center">
            <div class="container">
                <!--Grid row-->
                <div class="mask rgba-gradient align-items-center">
                    <div class="container">
                        
                        <div class="container body-content">
                            @RenderBody()
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>