﻿﻿<nav class="mb-3 navbar navbar-expand-lg navbar-dark default-color">
    <span class="navbar-brand">
        <img width="26" src="~/Content/img/2102407.png" />
        <span class="title" style="margin-left:3px; margin-top:2px">@Session["PageTitle"]</span>
    </span>

    <div class="collapse navbar-collapse first-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowManagerPage", "Manager")">
                    <i class="fas fa-home fa-lg"></i> DashBoard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowStock","Product")">
                    <i class="fas fa-layer-group fa-lg"></i> Stock
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowOrders","Order")">
                    <i class="fas fa-file-invoice-dollar fa-lg"></i>  Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowSuppliers","Supplier")">
                    <i class="fas fa-address-book fa-lg"></i>  Suppliers
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item facebook-icon">
                <nav>
                    <a class="waves-effect waves-light" href="https://www.facebook.com/Clothes-Stock-101478944606926">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                </nav>
            </li>

            <li class="nav-item span">
                <div>
                    Welcome Back @Session["LogginInUser"]!
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link user-nav">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="@Url.Action("ShowProfilePage","Profile")">
                        <i class="fas fa-id-card fa-lg"></i><span class="label">Profile</span>
                    </a>
                    <a class="dropdown-item" href="@Url.Action("ShowSignInPage","Auth")">
                        <i class="fas fa-sign-out-alt"></i><span class="label">Log Out</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
