﻿

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}

.header {
    text-align: center !important;
    margin-top: 90px;
}
#sliderFrame {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    right: 65%;
}

#slider, #slider .sliderInner {
    width: 350px;
    height: 350px; /* Must be the same size as the slider images */
    border-radius: 30px;
}

#slider {
    background-color: white;
    position: relative;
    margin: 0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/*#slider::before{
    display:none;
}*/

    /* Caption styles */
    #slider .mc-caption {
        position: absolute;
        width: 100%;
        height: auto;
        padding: 10px 0; /* 10px will increase the height.*/
        left: 0px;
        bottom: 0px;
        top: auto;
        overflow: hidden;
        font: bold 14px/20px Arial;
        color: #EEE;
        text-align: center;
        background: rgba(0,0,0,0.3);
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

        #slider .mc-caption a {
            color: #FB0;
        }

            #slider .mc-caption a:hover {
                color: #DA0;
            }


    /* ------ built-in navigation bullets wrapper ------*/
    #slider .navBulletsWrapper {
        top: 370px;
        text-align: center;
        background: none;
        position: relative;
        z-index: 3;
    }

        /* each bullet */
        #slider .navBulletsWrapper div {
            width: 11px;
            height: 11px;
            font-size: 0;
            color: White; /*hide the index number in the bullet element*/
            background: transparent url(/Content/img/bullet.png) no-repeat 0 0;
            display: inline-block;
            *display: inline;
            zoom: 1;
            overflow: hidden;
            cursor: pointer;
            margin: 0 6px; /* set distance between each bullet*/
        }

        #slider .navBulletsWrapper .active {
            background-position: 0 -11px;
        }


    /* --------- Others ------- */

    #slider img, #slider > b, #slider a > b {
        position: absolute;
        border: none;
        display: none;
    }

    #slider .sliderInner {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    #slider > a, #slider video, #slider audio {
        display: none;
    }

    #slider div {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }


/*html, body {
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 18px;
    background: #222;
    color: #aaa
}*/
.recommended-title {
    display: block;
    width: 100%;
    position: absolute;
    top: 17%;
    left: 25%;
    transform: translateX(-50%);
    text-align: center;
}
h1 {
    font-weight: 600;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif; 
    font-size: 3.5em;
}

h2 {
    color: #888;
    font-weight: 500;
    font-size: 2em;
    margin-top: 30px;
    text-shadow: 2px 1px 2px #333;
    font-family: 'Raleway', sans-serif;
}

.video {
    position: absolute;
    top: 10%;
    right: 3%;
    width: 400px;
    height: 400px;
    display: block;
}
video {
    width: inherit;
    height: inherit;
    width: 400px;
    height: 400px;
    position:relative;
    top:0;
}

.myVideo {
    width: 33%;
    height: 38%;
    position: absolute;
    right: 10%;
    top: 30%;
}
