﻿.swal2-popup.swal2-toast .swal2-title {
    color: #ffff;
}
.container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}

::placeholder {
    color: rgba(0, 0, 40,1) !important;
    font-weight: bold;
    text-align:center;
}

.search-input-div {
    position: relative;
    display: flex;
    align-items: center;
}

.reset-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.no-suppliers-div {
    display: block;
    border: 2px solid rgb(218,165,32);
    color: rgb(218,165,32);
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    top: 15px;
    padding: 15px;
    background: rgba(0, 0, 40,1);
}

.hidden {
    display: none;
}

table {
    margin-top:2rem;
    text-align: center;
    font-size: 1.5rem;
}
table td{
    font-size:16px;
    padding-top:1rem !important;
    margin:0px;
}
table.table thead th {
    font-weight: 600;
    font-size: 16px;
    padding:.75rem;
}

table.table td, table.table th {
   font-weight:400;
}
.delete-btn{
    cursor:pointer;
}
.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}
.scroll-up {
    position: fixed;
    top: 10%;
    right: 1%;
    cursor: pointer;
}