﻿.content{
    font-size:18px;
}

.h1-responsive{
    font-size:50px;
}

﻿html,
body,
.view {
  overflow-y:hidden;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    opacity: 0.7;
    font-weight:500;
    text-align: center;
}