﻿.flex-container {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    position: relative;
    top: 10%;
    margin-left: 20px;
    margin-right: 20px;
    /*right:1%;
    left:1%;
    box-sizing:border-box;*/
}

img {
    position: relative;
    left: 0px !important;
}

.modal-title {
    margin: 0 auto !important;
}

.modal-header .close {
    position: absolute;
}

#EditDiv {
    width: 90%;
    margin: 0 auto;
}


tr.spaceUnder > td {
    padding-bottom: 0.5em;
}


.valid {
    border: 1px solid #ced4da !important;
}

.product-grid6 {
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    position: relative;
    transition: all .5s ease 0s;
    height: 300px;
    width: 300px;
    margin: 80px auto !important;
}

.pic-1 {
    width: 300px;
    height: 300px;
}

.product-grid6:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.3)
}

.product-grid6 .product-image6 a {
    display: block
}

.product-grid6 .product-image6 img {
    transition: all .5s ease 0s
}

.product-grid6:hover .product-image6 img {
    transform: scale(1.1)
}

.product-grid6 .product-content {
    padding: 12px 12px 15px;
    transition: all .5s ease 0s
}

.product-grid6:hover .product-content {
    opacity: 0
}

.product-grid6 .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

    .product-grid6 .title a {
        color: #000
    }

        .product-grid6 .title a:hover {
            color: #2e86de
        }

.product-grid6 .price {
    font-size: 20px;
    font-weight: 600;
    color: #2e86de
}

.size {
    color: #999;
    font-size: 13px;
    font-weight: 500;
    margin-left: 7px;
    display: inline-block;
    margin-top: -14px;
}

.product-grid6 .social {
    background-color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transition: all .5s ease 0s
}

.product-grid6:hover .social {
    opacity: 1;
    bottom: 20px
}

.product-grid6 .social li {
    display: inline-block
}

    .product-grid6 .social li a {
        color: #909090;
        font-size: 16px;
        line-height: 45px;
        text-align: center;
        height: 45px;
        width: 45px;
        margin: 0 7px;
        border: 1px solid #909090;
        border-radius: 50px;
        display: block;
        position: relative;
        transition: all .3s ease-in-out
    }

        .product-grid6 .social li a:hover {
            color: #fff;
            background-color: #2e86de;
            width: 80px
        }

        .product-grid6 .social li a:after, .product-grid6 .social li a:before {
            content: attr(data-tip);
            color: #fff;
            background-color: #2e86de;
            font-size: 12px;
            letter-spacing: 1px;
            line-height: 20px;
            padding: 1px 5px;
            border-radius: 5px;
            white-space: nowrap;
            opacity: 0;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: -30px
        }

        .product-grid6 .social li a:after {
            content: '';
            height: 15px;
            width: 15px;
            border-radius: 0;
            transform: translateX(-50%) rotate(45deg);
            top: -20px;
            z-index: -1
        }

        .product-grid6 .social li a:hover:after, .product-grid6 .social li a:hover:before {
            opacity: 1
        }

@media only screen and (max-width:990px) {
    .product-grid6 {
        margin-bottom: 30px
    }
}

.plus-icon {
    position: relative;
    top: 8%;
    left: 1%;
    border: 1px solid;
    border-radius: 50%;
    outline: none;
    height: 50px;
    width: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

    .plus-icon:hover {
        background: rgba(0,0,40,1);
        color: white;
    }

    .plus-icon:focus {
        outline: none;
    }

.scroll-up {
    position: fixed;
    bottom: 3%;
    right: 1%;
}

select {
    margin-bottom: 15px;
    box-shadow: none;
}

select#productType, select#productCompany, select#productSize, select#productColor {
    box-shadow: none;
    border: 1px solid #ced4da !important;
}


.hidden {
    display: none;
}

#btnAdd {
    margin-top: 10px;
}

span#ammount-span, span#price-span {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
}

span.form1 {
    font-size: 1rem;
    font-weight: 400;
}

.form1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

input#product_initialAmount {
    box-shadow: none;
    border: 1px solid #ced4da;
}

input#price {
    box-shadow: none;
    border: 1px solid #ced4da;
}
span#product_initialAmount-error, span#price-error {
    font-size: 1rem;
    font-weight: 400;
}
